<ion-view id="login" view-title="Login" align-title="left">
  <ion-content style="background-color: deepskyblue;" class="main-container">
    <div class="login-page">
      <div class="row">
        <h2>Welcome Donut Lovers</h2>
      </div>
      <div class="row"><img class="app-icon"></div>
    </div>
    <div class="profile__form">
      <div class="profile__fields">
        <label for="emailForm" class="label">Email</label>
        <input id="emailForm" class="larger" placeholder="Username or Email" ng-model="vm.email"
               highlight-color="balanced" type="text">
        <label for="passwordForm" class="label">Password</label>
        <input id="passwordForm" class="larger" placeholder="Password" highlight-color="energized"
               ng-model="vm.password" type="password">
      </div>
    </div>
    <div class="row">
      <button class="button button-full button-positive">
        Facebook Login
      </button>
    </div>
    <div class="row">
      <button class="button button-full button-assertive">
        Google Login
      </button>
    </div>
    <div class="row">
      <button class="button button-full button-dark">
        Create User
      </button>
    </div>
  </ion-content>
</ion-view>
